[mysqld]
user=mysql
port=3306
datadir=/var/lib/mysql
bind-address=0.0.0.0
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
lc-messages-dir=/usr/share/mysql
log_error=/var/log/mysql/error.log